<mat-card>
  <h1>New</h1>
  <form (ngSubmit)="onSubmit()">
    
      <mat-form-field>
        <mat-card-title>Item name</mat-card-title>
        <input matInput type="text" id="name" [(ngModel)]="item.name" name="name">
      </mat-form-field>
    <br>
    <mat-form-field>
      <mat-card-title>Amount</mat-card-title>
      <input matInput type="number" id="amount" [(ngModel)]="item.amount" name="amount">
    </mat-form-field>
    <br>
    
    <mat-form-field>
      <mat-card-title>Priority</mat-card-title>
      <mat-select  [(ngModel)]="item.priority" name="item.priority" >
        <mat-option  *ngFor="let priority of priorities"  [value]="priority.value">{{priority.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button  type="submit" class="primary-btn">Add</button>
    
  </form>  
</mat-card>