<div (dblclick)="deleteItem(item)" class="nes-container is-dark" *ngFor="let item of items">
    <h2>{{item.name}}</h2>
    <table >
        <tbody>
            <tr>
              <td width="50%">Amount x{{item.amount}}</td>
              <td width="50%" *ngIf="item.priority == 1">Priority <span class="nes-text is-success">Low</span></td>
              <td width="50%" *ngIf="item.priority == 2">Priority <span class="nes-text is-warning">Medium</span></td>
              <td width="50%" *ngIf="item.priority == 3">Priority <span class="nes-text is-error">High</span></td>         
            </tr>
          </tbody>
    </table>
    <button (swipe)="deleteItem(item)" class="nes-btn is-success">Done ✓</button>
    
</div>
