#items {
    border-collapse: collapse;
    display: inline-block;
    
  }
  
#items td, #items th {
border: 1px solid #ddd;
padding: 5px;

}

html, body { height: 100%; }
body { margin: auto; font-family: Roboto, "Helvetica Neue", sans-serif; width: 99%; }

#wrapper {
  text-align: center;
  width: 100%;
}
.low {
  background-color: #66bb6a
}

.medium {
  background-color: #ffca28
}

.high {
  background-color: #ef5350
}

.primary-btn{
  background-color: #42a5f5;
  color: white
}
.no-btn{
  background-color: #ef5350;
  color: white
}