body, html,p,div,button {
    margin: auto;
    width: 99%;
}
#items {
    
    border-collapse: collapse;
    width: 100%;
  }
  
#items td, #items th {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
border: 1px solid #ddd;
padding: 8px;
}
